@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  background: #01d5fa !important;
  min-height: 100vh;
  display: flex; 
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  height: 5%;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding-bottom: 100px;
}

.navbar-toggler{
  color: green;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

/* Houses the full wrap from App.js */
.good-wrap{
  margin-top: 5%;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

/* Possibly useless */
.NewGroup, h3, .weather-component{
  text-align: center;
}

/* Creates the border and laylout for the Map */
.map-component {
  width: 90%;
  height: 540%;
  margin: auto;
  margin-top: 40px;
  background: #000000;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  transition: all .3s;
}

.weather-component {
  width: 100%;
  height: 100%;
}

/* Stylizes The signup pages */
.auth-signup {
  height: 400px;
  width: 350px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

/* Stylizes the login page */
.auth-login {
  height: 400px;
  width: 350px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.northwest{
  text-align: left;
  float:left;
  font-size: 25px;
}

.eastern{
  text-align: left;
  float: left;
  margin-left: 40px;
  font-size: 25px;

}

.central{
  text-align: left;
  float:right;
  font-size: 25px;

}

a:link{
  font-size: 15px;
  color: black;
}

a:visited {
  color: rgba(0, 0, 0, 0.678);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #01d5fa;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #01d5fa;
  background-color: transparent;
  text-decoration: underline;
}


/* Stylizes the login page */
.conditions {
  height: 48%;
  width: 700px;
  margin: auto;
  background-color: #ffffff;
  background: url(snowmobile.png);
  background-size: 40%;
  background-position: bottom 0% right 0%;
  background-repeat: no-repeat;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-logout {
  height: 200px;
  width: 350px;
  text-align: center;

  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus .good-wrap {
  border-color: #01d5fa;
  box-shadow: none;
}

.auth-wrapper h3 .good-wrap{
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a{
  color: rgb(1, 213, 250) !important;
}